@charset "UTF-8";
@layer Reset, Layout,Component, Button, Visual, Form, Heading, Pages, Align, Space;
:root {
  --orange: #f69740;
  --skyblue: #38c3ef;
  --green: #88d948;
  --blue: #6892d0;
  --yellow: #fac300;
  --yellow2: #fff387;
  --gray33: #333333;
  --gray3f: #3f3f3f;
  --gray66: #666666;
  --gray99: #999999;
  --grayb4: #b4b4b4;
  --graycc: #cccccc;
  --graye0: #e0e0e0;
  --graye1: #e1e1e1;
  --graye2: #e2e2e2;
  --grayfa: #fafafa;
  --grayf6: #f6f6f6;
  --white: #ffffff;
  --in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --inout-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --inout-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --inout-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --inout-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --inout-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --inout-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --inout-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --inout-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@layer Reset {
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
  /* Reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  body,
  input,
  select,
  textarea,
  button,
  img,
  fieldset {
    border: none;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }
  address,
  cite,
  code,
  em,
  i {
    font-style: normal;
    font-weight: normal;
  }
  label,
  img,
  input,
  select,
  textarea,
  button,
  a {
    vertical-align: middle;
  }
  u,
  ins,
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
  a {
    color: inherit;
  }
  /* Normalize */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number],
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=date],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-clear-button,
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  input[type=date] {
    position: relative;
    width: 100px;
  }
  input[type=date]::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  input[type=date]:valid::before {
    display: none;
  }
  select {
    appearance: none;
  }
  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
  }
  @media screen and (width < 900px) {
    html {
      font-size: 31.25%;
    }
  }
  body {
    font-size: 1rem;
  }
  caption,
  legend,
  .a11y-hidden {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  @media print {
    .header,
    .footer,
    .visual {
      display: none;
    }
    .page-break {
      page-break-before: always;
    }
  }
  @page {
    margin: 1cm 2cm;
  }
  .print {
    display: block;
  }
  @media screen {
    .print {
      display: none;
    }
  }
}
@layer Button {
  .btn-login {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray99);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    white-space: nowrap;
  }
  @media screen and (width < 900px) {
    .btn-login {
      display: none;
    }
  }
  .btn-login::before {
    content: "";
    width: 1.6rem;
    height: 1.9rem;
    background: url(../images/ico_login.svg) no-repeat 0 0/contain;
  }
  .btn-sitemap {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray99);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    background: none;
    white-space: nowrap;
  }
  @media screen and (width < 900px) {
    .btn-sitemap span {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
  .btn-sitemap::before {
    content: "";
    width: 1.6rem;
    height: 1.9rem;
    background: url(../images/ico_sitemap.svg) no-repeat 0 0/contain;
  }
  @media screen and (width < 900px) {
    .btn-sitemap::before {
      width: 9rem;
      height: 9rem;
      background: url(../images/ico_sitemap_white.svg) no-repeat center/2.8rem auto;
    }
  }
  .btn-sitemap.--active::before {
    background-image: url(../images/ico_close.svg);
  }
  .btn-search {
    display: none;
    width: 9rem;
    height: 9rem;
    background: url(../images/ico_search.svg) no-repeat center/3.0414rem auto;
  }
  @media screen and (width < 900px) {
    .btn-search {
      display: block;
    }
    .btn-search.--active {
      opacity: 0;
    }
  }
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    box-sizing: border-box;
  }
  .btn.yellow {
    border-color: var(--yellow);
    background-color: var(--white);
    color: var(--yellow);
  }
  .btn.gray {
    border-color: var(--graye0);
    background-color: var(--white);
    color: var(--gray99);
  }
  .btn.regular {
    min-width: 11rem;
    height: 4.4rem;
    padding: 0 2rem;
    border-width: 0.2rem;
    border-style: solid;
    font-size: 1.6rem;
    border-radius: 4.4rem;
  }
}
@layer Heading {
  .heading.regular {
    color: var(--gray33);
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: -0.18rem;
    text-align: center;
  }
  .heading.small {
    color: var(--gray5c);
    font-size: 3.6rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.18rem;
  }
  .heading.small::after {
    content: "";
    display: block;
    margin: 2.8rem auto 0;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    background: var(--yellow);
  }
  @media screen and (width < 900px) {
    .heading.small::after {
      margin: 2.4rem auto 0;
    }
  }
}
@layer Visual {
  .visual {
    background-color: var(--yellow);
  }
  .visual .m0auto {
    display: flex;
    align-items: center;
    position: relative;
    height: 32rem;
  }
  @media screen and (width < 900px) {
    .visual .m0auto {
      flex-direction: column;
      justify-content: center;
    }
  }
  .visual__title {
    color: var(--white);
    font-size: 7.2rem;
    font-weight: 400;
    letter-spacing: -0.36rem;
  }
  @media screen and (width < 900px) {
    .visual__title {
      font-size: 5rem;
      letter-spacing: -0.25rem;
      line-height: 1;
    }
  }
  .visual__subtitle {
    display: none;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.12rem;
    text-align: center;
  }
  @media screen and (width < 900px) {
    .visual__subtitle {
      display: block;
    }
  }
  .visual__img {
    position: absolute;
    right: 0;
    bottom: -4.7rem;
  }
  @media screen and (width < 900px) {
    .visual__img {
      display: none;
    }
  }
  .bg1 .visual__img::after {
    content: url(../images/img_visual1.png);
  }
  .bg2 .visual__img::after {
    content: url(../images/img_visual2.png);
  }
  .bg3 .visual__img::after {
    content: url(../images/img_visual3.png);
  }
  .bg4 .visual__img::after {
    content: url(../images/img_visual4.png);
  }
}
@layer Form {
  .checkbox {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .checkbox + label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray66);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6rem;
    letter-spacing: -0.07rem;
  }
  .checkbox + label::before {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background: url(../images/ico_check_off.svg) no-repeat 0 0/contain;
  }
  .checkbox:checked + label::before {
    background-image: url(../images/ico_check_on.svg);
  }
  .input {
    width: var(--width, auto);
    height: 4.4rem;
    padding: 0 2rem;
    border: 0.1rem solid var(--graye1);
    background-color: var(--grayfa);
    font-size: 1.6rem;
    color: var(--gray99);
  }
  .input ::placeholder {
    color: var(--gray99);
  }
  .table-type4 .input {
    width: 100%;
    box-sizing: border-box;
  }
  .select {
    height: 4.4rem;
    padding: 0 4.2rem 0 2rem;
    border: 0.1rem solid var(--graye1);
    background: url(../images/ico_select.svg) no-repeat right 2rem center/1.2rem auto var(--grayfa);
    font-size: 1.6rem;
    color: var(--gray99);
  }
  .add-file {
    display: flex;
    align-items: center;
  }
  .add-file input {
    border-right: none;
  }
  .add-file input[type=file] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .add-file input[type=file] + label {
    width: 12rem;
    border: 1px solid var(--gray99);
    line-height: 4.4rem;
    text-align: center;
    background: var(--white);
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
  }
  .textarea {
    width: var(--width, 100%);
    height: var(--height, 10rem);
    padding: 2rem;
    border: 0.1rem solid var(--graye1);
    background-color: var(--grayfa);
    font-size: 1.6rem;
    color: var(--gray99);
    box-sizing: border-box;
  }
  .textarea ::placeholder {
    color: var(--gray99);
  }
  .date-place {
    display: grid;
    grid-template-columns: 14rem 10rem 27rem;
    gap: 1rem;
  }
  @media screen and (width < 900px) {
    .date-place {
      grid-template-columns: 1fr 1fr;
    }
    .date-place input {
      grid-column: 1/-1;
    }
  }
}
@layer Component.Table {
  @media screen and (width < 900px) {
    .table-type1 colgroup {
      display: none;
    }
  }
  .table-type1 th,
  .table-type1 td {
    padding: 3rem;
    box-sizing: border-box;
  }
  @media screen and (width < 900px) {
    .table-type1 th,
    .table-type1 td {
      display: block;
      padding: 3rem 0;
      text-align: left;
    }
  }
  .table-type1 th {
    color: var(--gray33);
    font-size: 1.6rem;
    font-weight: 500;
  }
  @media screen and (width < 900px) {
    .table-type1 th {
      font-size: 2.6rem;
      font-weight: 700;
      padding-bottom: 0;
    }
  }
  .table-type1 td {
    color: var(--gray66);
    font-size: 1.6rem;
    font-weight: 400;
  }
  @media screen and (width < 900px) {
    .table-type1 td {
      padding-top: 1rem;
      font-size: 2.6rem;
    }
  }
  .table-type1 tr + tr {
    border-top: 0.1rem solid var(--graye1);
  }
  @media screen and (width < 900px) {
    .table-type2 colgroup {
      display: none;
    }
  }
  .table-type2 th,
  .table-type2 td {
    padding: 1.9rem 3rem;
    font-size: 1.6rem;
    border: 0.1rem solid var(--graye1);
  }
  @media screen and (width < 900px) {
    .table-type2 th,
    .table-type2 td {
      display: block;
    }
  }
  .table-type2 th {
    color: var(--gray33);
    background-color: var(--grayf6);
  }
  .table-type2 td {
    color: var(--gray66);
  }
  @media screen and (width < 900px) {
    .table-type2 td {
      border-top: none;
      border-bottom: none;
    }
  }
  .table-type2 tr:last-child td {
    border-bottom: 0.1rem solid var(--graye1);
  }
  .table-type3 th {
    padding: 2rem;
    background-color: var(--gray66);
    font-size: 1.4rem;
    color: var(--white);
  }
  .table-type3 th + th {
    border-left: 0.1rem solid var(--graye1);
  }
  .table-type3 td {
    padding: 2rem;
    font-size: 1.6rem;
    color: var(--gray66);
    text-align: center;
    border-bottom: 0.1rem solid var(--graye1);
  }
  .table-type3 td + td {
    border-left: 0.1rem solid var(--graye1);
  }
  .table-wrap {
    position: relative;
  }
  @media screen and (width < 900px) {
    .table-wrap {
      overflow-x: hidden;
    }
    .table-wrap.--active {
      overflow-x: auto;
    }
    .table-wrap.--active::after, .table-wrap.--active::before {
      display: none;
    }
    .table-wrap::before {
      content: "클릭후 \a드래그하세요";
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      width: 12rem;
      height: 12rem;
      background-color: var(--white);
      z-index: 2;
      font-size: 1.6rem;
      white-space: pre;
      text-align: center;
    }
    .table-wrap::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(1px);
    }
    .table-wrap > table {
      width: 240rem;
    }
  }
  @media screen and (width < 900px) {
    .table-type4 colgroup {
      display: none;
    }
  }
  .table-type4 th,
  .table-type4 td {
    border: 0.1rem solid var(--gray66);
    padding: 2rem;
    font-size: 1.6rem;
  }
  @media screen and (width < 900px) {
    .table-type4 th,
    .table-type4 td {
      display: block;
    }
  }
}
@layer Component.Pagination {
  .pagination {
    display: flex;
    gap: 1rem;
    font-size: 2.4rem;
  }
  .pagination ol {
    display: flex;
    gap: 1rem;
  }
  @media screen and (width < 900px) {
    .pagination ol::before {
      content: attr(data-current) " / ";
    }
    .pagination ol::after {
      content: attr(data-total);
    }
  }
  @media screen and (width < 900px) {
    .pagination ol li {
      display: none;
    }
  }
  .pagination button {
    font-size: 2.4rem;
  }
}
@layer Breadcrumb {
  .bread-crumb {
    --gap: 2rem;
    --width: 2.4rem;
    --height: 2.4rem;
    --bg: url("../../images/ico_arrow-right.svg");
    display: inline-flex;
    align-items: center;
    gap: var(--gap);
    padding: 2.8rem 0;
    box-sizing: border-box;
  }
  .bread-crumb > li {
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.317rem;
  }
  .bread-crumb > li + li {
    font-weight: 400;
  }
  .bread-crumb > li + li::before {
    content: "";
    width: var(--width);
    height: var(--height);
    background: var(--bg) no-repeat 0 0/contain;
  }
  .bread-crumb > li:last-child {
    text-decoration: underline;
    font-weight: bold;
  }
  .line-type1 {
    border: none;
    border: 0.1rem solid var(--yellow);
  }
}
@layer Header.Logo {
  @media screen and (width < 900px) {
    .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .logo img {
      width: 10.9rem;
    }
  }
}
@layer Header.Gnb {
  .gnb {
    display: flex;
  }
  @media screen and (width < 900px) {
    .gnb {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      top: 9.2rem;
      height: calc(100vh - 9.2rem);
      z-index: 1000;
      background-color: var(--yellow);
      padding: 0 10%;
      transform: translateX(-100%);
      transition: transform 0.5s;
    }
    .gnb.--active {
      transform: translateX(0);
    }
  }
  .gnb > li {
    padding: 0 2rem;
  }
  @media screen and (width < 900px) {
    .gnb > li {
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
    }
  }
  .gnb > li:hover > a::after {
    transform: scaleX(1);
  }
  .gnb > li:hover .depth2 {
    z-index: 100;
    animation: fadeIn 0.8s 0.2s 1 both var(--inout-quint);
  }
  @media screen and (width < 900px) {
    .gnb > li:hover .depth2 {
      animation: none;
      border-top: 0.1rem solid var(--yellow2);
      padding: 3.4rem 0;
      height: 74.9rem;
    }
  }
  @media screen and (width < 900px) {
    .gnb > li:hover:nth-child(2):hover .depth2 {
      height: 30.8rem;
    }
  }
  .gnb > li a {
    display: block;
    line-height: 9rem;
    position: relative;
    color: var(--gray33);
    font-size: 1.6rem;
    font-weight: 700;
  }
  @media screen and (width < 900px) {
    .gnb > li a {
      padding: 3.4rem 0;
      color: var(--white);
      font-size: 4.6rem;
      line-height: 1;
    }
  }
  .gnb > li a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3.2rem;
    z-index: -1;
    transform: scaleX(0);
    border-bottom: 1rem solid var(--yellow);
    transition: 1s var(--inout-expo);
  }
  @media screen and (width < 900px) {
    .gnb > li a::after {
      display: none;
    }
  }
  .gnb .depth2 {
    opacity: 0;
    position: absolute;
    top: 9rem;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    padding: 3rem 0 0 20.8rem;
    width: 122.4rem;
    box-sizing: border-box;
    opacity: 0;
  }
  @media screen and (width < 900px) {
    .gnb .depth2 {
      position: static;
      transform: translate(0, 0);
      padding: 0;
      width: 100%;
      opacity: 1;
      padding: 0;
      height: 0;
      overflow: hidden;
      transition: height 1s var(--inout-quint), padding 1s var(--inout-quint);
    }
  }
  .gnb .depth2 > ul {
    display: flex;
    gap: 6rem;
  }
  @media screen and (width < 900px) {
    .gnb .depth2 > ul {
      display: block;
    }
  }
  .gnb .depth2 > ul > li:first-child > a {
    padding-top: 0;
  }
  .gnb .depth2 > ul > li:last-child > a:last-child {
    padding-bottom: 0;
  }
  .gnb .depth2 > ul > li:hover > a {
    color: var(--gray33);
  }
  @media screen and (width < 900px) {
    .gnb .depth2 > ul > li:hover > a {
      color: var(--white);
    }
  }
  .gnb .depth2 > ul > li > a {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.027rem;
    color: var(--gray66);
  }
  @media screen and (width < 900px) {
    .gnb .depth2 > ul > li > a {
      display: block;
      font-size: 3.4rem;
      line-height: 1;
      color: var(--white);
      padding: 1.7rem 0;
    }
  }
  .gnb .depth2 > ul > li > ul {
    padding: 1.6rem 0 0;
  }
  .gnb .depth2 > ul > li > ul > li > a {
    font-size: 1.4rem;
    line-height: 3rem;
    color: var(--gray66);
  }
  @media screen and (width < 900px) {
    .gnb .depth2 > ul > li > ul > li > a {
      display: block;
      color: var(--yellow2);
      font-size: 3rem;
      line-height: 1;
      padding: 1.7rem 0;
    }
  }
}
.bg-gnb {
  position: absolute;
  left: 0;
  right: 0;
  top: 9.1rem;
  height: 0;
  background-color: var(--white);
  z-index: 99;
  transition: height var(--inout-quint) 0.5s;
}
@media screen and (width < 900px) {
  .bg-gnb {
    display: none;
  }
}

.gnb:has(> li:hover .depth2) + .bg-gnb {
  height: 15.7rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -3rem);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@layer Layout.Header {
  .header {
    border-bottom: 0.1rem solid var(--yellow);
  }
  @media screen and (width < 900px) {
    .header {
      position: relative;
      background-color: var(--yellow);
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
    }
  }
  .header > div {
    display: grid;
    align-items: center;
    grid-template-columns: 20.8rem 1fr min-content;
    height: 9rem;
  }
  @media screen and (width < 900px) {
    .header > div {
      display: block;
    }
  }
  .header .utillity {
    display: flex;
    align-items: center;
    gap: 2.6rem;
  }
  @media screen and (width < 900px) {
    .header .utillity {
      justify-content: space-between;
    }
  }
}
@layer Layout.Footer {
  .footer {
    border-top: 0.1rem solid rgba(102, 102, 102, 0.2);
    padding: 4.5rem 0 5.7rem;
  }
  @media screen and (width < 900px) {
    .footer {
      padding: 3.7rem 3rem;
      background-color: var(--gray3f);
    }
    .footer .only-mobile {
      color: #fac300;
      font-size: 2.6rem;
      font-weight: 700;
    }
  }
  .footer address {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray66);
    font-size: 1.4rem;
    font-weight: 500;
  }
  @media screen and (width < 900px) {
    .footer address {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      padding: 2rem 0 0;
      font-size: 2rem;
      color: var(--graycc);
    }
  }
  .footer address span {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
    background-color: var(--gray66);
  }
  @media screen and (width < 900px) {
    .footer address span {
      display: block;
      width: 0;
      height: 2rem;
    }
  }
  .footer .company-info {
    display: flex;
    gap: 2rem;
    padding: 1.1rem 0 0;
    color: var(--gray66);
    font-size: 1.4rem;
  }
  @media screen and (width < 900px) {
    .footer .company-info {
      font-size: 2rem;
      color: var(--graycc);
    }
  }
  .footer .copy {
    padding: 3.5rem 0 0;
    color: var(--gray66);
    font-size: 1.4rem;
    font-weight: 500;
  }
  @media screen and (width < 900px) {
    .footer .copy {
      font-size: 1.6rem;
      color: var(--graycc);
    }
  }
  @media screen and (width < 900px) {
    .ad_footer img {
      width: 100%;
    }
  }
}
@layer Layout.Base {
  .m0auto {
    width: 122.4rem;
    margin: 0 auto;
  }
  @media screen and (width < 900px) {
    .m0auto {
      width: 100%;
      margin: 0;
    }
  }
  .only-mobile {
    display: none;
  }
  @media screen and (width < 900px) {
    .only-mobile {
      display: block;
    }
  }
  .container {
    padding: 10rem 0 20rem;
  }
  @media screen and (width < 900px) {
    .container {
      padding: 10rem 3rem 20rem;
      box-sizing: border-box;
    }
  }
  body.--hidden {
    overflow: hidden;
  }
}
@layer Align {
  .align {
    display: flex;
  }
  .align.both {
    justify-content: space-between;
  }
  .align.right {
    justify-content: flex-end;
  }
  .align.center {
    justify-content: center;
  }
  .align.vt {
    align-items: flex-start;
  }
  .align.vm {
    align-items: center;
  }
  .align.vb {
    align-items: flex-end;
  }
  .align.fix-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--zindex, 10);
    background: var(--white);
    padding: 2rem 1.6rem 2.4rem;
  }
  .txt-center {
    text-align: center;
  }
  .txt-right {
    text-align: right;
  }
  .txt-left {
    text-align: left;
  }
  table .vt {
    vertical-align: top;
  }
  table .vm {
    vertical-align: middle;
  }
  table .vb {
    vertical-align: bottom;
  }
}
@layer Space {
  .mt30 {
    margin-top: 3rem;
  }
  .mt60 {
    margin-top: 6rem;
  }
}
@layer Pages.sub2 {
  @media screen and (width < 900px) {
    .img-history {
      width: calc(100% + 6rem);
      margin-left: -3rem;
    }
  }
}/*# sourceMappingURL=style.css.map */