@layer Reset, Layout, Button, Visual, Form, Heading, Align, Space;

@import "./abstracts/mixin"; //믹스인
@import "./base/Variable"; // 변수
@import "./components/Reset"; // reset.css
@import "./components/Button"; // 버튼
@import "./components/Heading"; // 제목
@import "./components/Visual"; // 비주얼
@import "./components/Form"; // 서식
@import "./layout/Header"; // 헤더
@import "./layout/Footer"; // 푸터
@import "./layout/Base"; // 기본정의
@import "./layout/Align"; // 정렬
@import "./layout/Space"; // 여백
