@layer Button {
  .btn-login {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray99);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    white-space: nowrap;
    @media screen and (width < 900px) {
      display: none;
    }
    &::before {
      content: "";
      width: 1.6rem;
      height: 1.9rem;
      background: url(../images/ico_login.svg) no-repeat 0 0 / contain;
    }
  }
  .btn-sitemap {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray99);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    background: none;
    white-space: nowrap;
    span {
      @media screen and (width < 900px) {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
    }
    &::before {
      content: "";
      width: 1.6rem;
      height: 1.9rem;
      background: url(../images/ico_sitemap.svg) no-repeat 0 0 / contain;
      @media screen and (width < 900px) {
        width: 9rem;
        height: 9rem;
        background: url(../images/ico_sitemap_white.svg) no-repeat center / 2.8rem auto;
      }
    }
    &.--active {
      &::before{
        background-image: url(../images/ico_close.svg);
      }
    }
  }
  .btn-search {
    display: none;
    width: 9rem;
    height: 9rem;
    background: url(../images/ico_search.svg) no-repeat center / 3.0414rem auto;
    @media screen and (width < 900px) {
      &.--active {
        opacity: 0;  // 둘중하나 사용
        // visibility: visible;
      }
      display: block;
    }
  }

  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    box-sizing: border-box;
    &.yellow {
      border-color: var(--yellow);
      background-color: var(--white);
      color: var(--yellow);
    }
    &.gray {
      border-color: var(--graye0);
      background-color: var(--white);
      color: var(--gray99);
    }
    &.regular {
      min-width: 11rem;
      height: 4.4rem;
      padding: 0 2rem;
      border-width: 0.2rem;
      border-style: solid;
      font-size: 1.6rem;
      border-radius: 4.4rem;
    }
  }
}
