@layer Header.Gnb {
  // 반응형 할때는 레이아웃 모두 부수고 진행한다.
  .gnb {
    display: flex;
    // gap: 4rem;
    @media screen and (width < 900px) {
      // display: none;  // 모바일버전시 안보이게 처리
      display: block;
      position:fixed;
      left: 0;
      right: 0;
      top: 9.2rem;
      height: calc(100vh - 9.2rem);
      z-index: 1000;
      background-color: var(--yellow);
      padding: 0 10%;
      transform: translateX(-100%);
      transition: transform 0.5s;
      &.--active {
        transform: translateX(0);
      }
    }
    // 1depth
    > li {
      padding: 0 2rem;
      // box-sizing: border-box;  가로나 세로 크기가 없는경우 안줘도 된다.
      // 1depth메뉴의 사이에 갭이 생곃서 호버시 2뎁스 메뉴들이 흔들거린다 
      // 그 현상을 없애기 위해서 처리해주기.
      @include mobile {
        border-bottom: 0.1rem solid rgba(255,255,255, 0.5);
      }
      &:hover {
        > a {
          &::after {
            transform: scaleX(1);
          }
        }
        .depth2 {
          z-index: 100;
          animation: fadeIn 0.8s 0.2s 1 both var(--inout-quint);
          // 0.2s뒤에 실행되고 끝날때는 확 사라지게 코딩한것,
          // opacity: 1;
          // display: block;
          @include mobile {
            animation: none;
            border-top: 0.1rem solid var(--yellow2);
            padding: 3.4rem 0;
            height: 74.9rem;  //원래 높이의 2배 나중에 스크립트로 가야됨.
          }
        }
        &:nth-child(2):hover{
          .depth2 {
            @include mobile {
              height: 30.8rem;
            }
          }
        }
      }
      a {
        display: block;
        line-height: 9rem;
        position: relative;
        color: var(--gray33);
        font-size: 1.6rem;
        font-weight: 700;
        @include mobile {
          padding: 3.4rem 0;
          color: var(--white);
          font-size: 4.6rem;
          line-height: 1;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 3.2rem;
          z-index: -1;
          transform: scaleX(0);
          border-bottom: 1rem solid var(--yellow);
          transition: 1s var(--inout-expo);
          @include mobile {
            display: none;
          }
        }
      }
    }
    // 2depth
    .depth2{
      opacity: 0;
      // display: none;
      position: absolute;
      top: 9rem;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      padding: 3rem 0 0 20.8rem;
      width: 122.4rem;
      box-sizing: border-box;
      opacity: 0;
      @include mobile {
        position: static;
        transform: translate(0, 0);
        padding: 0;
        width: 100%;
        opacity: 1;
       // padding: 3.4rem 0;
        padding:0;
        height: 0;
        overflow: hidden;
        transition: height 1s var(--inout-quint), padding 1s var(--inout-quint);
      }
      // transition: opcity var(--inout-quint) 0.5s 0.2s;
      > ul {
        display: flex;
        gap: 6rem;
        @include mobile {
          display: block;
        }
        > li {
          &:first-child {
            > a {
              padding-top: 0;
            }
          }
          &:last-child {
           > a {
            &:last-child {
              padding-bottom: 0;
            }
           } 
          }
          &:hover {
            > a {
              color: var(--gray33);
              @include mobile {
                color: var(--white);
              }
            }
          }
          > a {
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 2.027rem;
            color: var(--gray66);
            @include mobile {
              display: block;
              font-size: 3.4rem;
              line-height: 1;
              color: var(--white);
              padding: 1.7rem 0;
            }
          }
          // 3depth
          > ul {
            padding: 1.6rem 0 0;
            > li {
              > a {
                font-size: 1.4rem;
                line-height: 3rem;
                color: var(--gray66);
                @include mobile {
                  display: block;
                  color: var(--yellow2);
                  font-size: 3rem;
                  line-height: 1;
                  padding: 1.7rem 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
.bg-gnb {
  // display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 9.1rem;
  height: 0;
  background-color: var(--white);
  z-index: 99;
  transition: height var(--inout-quint) 0.5s;
  @include mobile {
    display: none;  // 모바일에서 안보이게 처리
  }
}

.gnb:has(> li:hover .depth2) + .bg-gnb {
  height: 15.7rem;  
  // display: block;
}
//1뎁스에 호버시 2뎁스의 메뉴가 없으면 보이지마!!


// .gnb:has(> li:hover ) + .bg-gnb {
//   height: 15.7rem;  
//   // display: block;
// }
// has선택자 사용 -> 부모인 .gnb 기준으로 
// 높이로 조절해 애니를 준다.

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%,-3rem);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}