@layer Heading {
  .heading {
    &.regular {
      color: var(--gray33);
      font-size: 3.6rem;
      font-weight: 400;
      letter-spacing: -0.18rem;
      text-align: center;
    }
    &.small {
      color: var(--gray5c);
      font-size: 3.6rem;
      font-weight: 300;
      text-align: center;
      letter-spacing: -0.18rem;
      &::after {
        content: "";
        display: block;
        margin: 2.8rem auto 0;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 100%;
        background: var(--yellow);
        @include mobile {
          margin: 2.4rem auto 0;
        }
      }
    }
  }
}
