@layer Header.Logo {
  @media screen and (width < 900px) {
    .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 10.9rem;
      }
    }
  }
}
